

#form {
    color: #c9c9c9;
    padding: 2rem;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);*/
    box-shadow: 4px 4px 8px 12px rgba(100, 98, 98, 0.089);
    /* Increased shadow */
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(32, 31, 37, 0.87);
}

#form input {
    border: 1px solid #00011b;
    color: #000;
}

#form input:focus {
    color: #000;
    background-color: #dfdfdf;
}

#form label {
    color: #000
}